<div class="jumbotron">
  
</div>

<div class="text-center container">
  <h1 id="main-heading">Buy or sell anything</h1>
  <h2>Explore from our huge catalog of products.</h2>
</div>
<div class="orange-sec text-center">
  <h1 class="orange-text">Start selling today</h1>
  <h3 class="lower-text">Join millions of people who list their products at Etsy</h3>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <div class="row">
     <div class="col-md-10 col-md-offset-1">
         <div class="row">
           <% @listings.each do |listing| %>
               <div class="col-md-3">
                 <div class="panel panel-default">
                   <div class="panel-heading preview">
                   <%= link_to listing do %> 
                   <%= image_tag listing.image.url(:medium) %>
                   <% end %>
                   </div>
                   <div class="panel-body">
                     <h3 id="listing-name"><%= listing.name %></h3>
                  <span id="list-price"><%= link_to number_to_currency(listing.price), listing %></span>
                      <p id="seller-name"><%= link_to "Sold by #{listing.user.name}", listing %></p>
                
                     <% if (user_signed_in?) && (current_user == listing.user) %>                    
                        <%= link_to 'Edit', edit_listing_path(listing) , class: "btn btn-link" %>
                        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>
                     <% end %>
                     
                   </div>         
                 </div>
               </div>
             <% end %>
     
       </div>
       
     </div>
     
   </div>
 
 

<br>

           <% if user_signed_in? %>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
  <% end %>