<div class="container">

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="search-fm">
      <%= form_tag search_path, class: "navbar-form ", method: :get do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "What are you shopping for?", class: "form-control text-center", id: "form-search", style: "width: 350px; height: 50px; margin: 0px 0px 5px;
"  %>
             <%= submit_tag "Search", class: "btn button-search", style: 
             " width: 150px; margin: 0 10px 5px 11px; height: 50px;" %>
          </div>
      <% end %> 
    </div>
  </div>  
</div>
         <div class="row">
           <% @listings.each do |listing| %>
               <div class="col-md-3">
                 <div class="panel panel-default">
                   <div class="panel-heading preview">
                   <%= link_to listing do %> 
                   <%= image_tag listing.image.url(:medium) %>
                   <% end %>
                   </div>
                   <div class="panel-body">
                     <h3 id="listing-name"><%= listing.name %></h3>
                  <span id="list-price"><%= link_to number_to_currency(listing.price), listing %></span>
                   
                
                     <% if (user_signed_in?) && (current_user == listing.user) %>                    
                        <%= link_to 'Edit', edit_listing_path(listing) , class: "btn btn-link" %>
                        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link"  %>
                     <% end %>
                     
                   </div>         
                 </div>
               </div>
             <% end %>
     
       </div>
  
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-12">
     <%= paginate @listings, :theme => 'twitter-bootstrap-3', :pagination_class => 'pagination-sm' %>   
  </div>  
</div>

